.roomDetail {
  display: flex;
  flex-wrap: wrap;
  font-family: "Red Hat Display", sans-serif;
  background: #F4E8D3;
  border-radius: 32px;
  color: #333333;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto; /* Center the list */
  justify-content: center; /* Center items */

  .noRoomsMessage {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: #B37A7A;
    background-color: #F4E8D3;
    // border-radius: 16px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .noRoomImage {
    max-width: 300px;
  }


  .room {
    color: #333333;
    padding: 20px;
    margin: 10px;
    background: #F4E8D3;
    flex: 1 1 calc(50% - 40px); /* Adjusted to fit 2 items in a row */
    max-width: calc(50% - 100px); /* Ensure it doesn't grow larger */
    box-sizing: border-box;

    h2 {
      margin: 0 0 10px;
      font-size: 1.5em;

    }


    p {
      margin: 5px 0;

    }

    .booknow {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 16px;
      margin-right: 10px;
      right: 10px;
      color: #fff;
      background-color: #B37A7A;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #680808;
      }

    }

    .deleteButton {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: normal;
      font-size: 2.5rem;
      color: #868686; /* Change color as needed */
    }


    .slider {
      margin-top: 10px;

      .slide {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 400px; // 고정 높이 설정 (필요에 따라 조정)
          object-fit: fill; // 이미지가 컨테이너를 채우도록
        }
      }

      &:hover {
        .slick-prev,
        .slick-next {
          display: block !important;
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      color: #000;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      z-index: 1;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }

    // .slick-track {
    //   display: flex !important;
    //   gap: 20px !important; /* Gap between slides */
    // }

    // .slick-slide {
    //   padding: 0 10px !important; /* spacing between slides */
    //   box-sizing: border-box;
    // }
  }
}

.titleReview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333333;
  font-family: "Red Hat Display", sans-serif;
  margin-top: 50px;
}

.instruction {

  .hotelTitle {
    max-width: 1300px;
    margin: 0px auto;
    font-family: "Red Hat Display", sans-serif;
    font-size: 54px;
    margin-bottom: 60px;
    color: #333333;
    font-weight: bold;
  }

  .description {
    color: #333333;
    font-family: 'NotoSansKR';

    font-size: 24px;
    max-width: 1300px;
    margin: 0px auto;
    line-height: 50px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.line {
  max-width: 1300px;
  margin: 0px auto;
  border-top: 1px solid #616161;
  margin-bottom: 100px;
  margin-top: 100px;
}

.location {
  background: #A18C80;
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  color: #E5E5E5;
  font-family: "GmarketSans";
  padding-bottom: 100px;
  margin-left: -22%;
  padding-top: 50px;

  .contactTitle {
    text-align: left;
    font-size: 50px;
    font-family: "Red Hat Display", sans-serif;
  }

}


.modifyButton {
  position: relative;
  left: 71%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
  background-color: #555555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #680808;
  }
}


@media screen and (max-width: 400px) and (min-width: 380px) {
  .roomDetail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100% !important;
    background: #F4E8D3;
    border-radius: 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-content: center;
    padding: 0px;

    .room {
      color: #5C4033;
      padding: 0px;
      margin: 20px;
      background-color: #F4E8D3;
      flex: 1 1 90% !important;
      max-width: 90% !important;
      box-sizing: border-box;

      .slider {
        .slide {
          img {
            width: 100%;
            height: 250px !important; // 고정 높이 설정 (필요에 따라 조정)
            object-fit: fill; // 이미지가 컨테이너를 채우도록
          }
        }
      }
    }
  }


  .line {
    max-width: 350px;
    margin: 0px auto;
    border-top: 0.5px solid #888888;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .instruction {
    padding: 40px;

    .hotelTitle {
      margin: 0px auto;
      font-family: "Red Hat Display", sans-serif;
      font-size: 30px;
      margin-bottom: 60px;
      color: #333333;
      font-weight: bold;
    }

    .description {
      color: #333333;
      font-family: 'NotoSansKR';
      font-size: 16px;
      margin: 0px auto;
      line-height: 30px;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
    }
  }

  .location {
    background: #A18C80;
    display: flex;
    flex-direction: column;

  }
  .contact {
    height: 100px;
    padding-top: 0px;
    margin-left: 5%;

    .contactTitle {
      font-size: 32px;
    }
  }

}

.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .map {
    width: 100%;
    height: 500px;
    max-width: 1400px;
    margin: 0 auto;
    filter: sepia(10%) hue-rotate(0deg) saturate(60%) brightness(100%) contrast(100%);
  }

  @media (max-width: 400px) {
    .map {
      width: 100%; // 화면 너비에 맞게 설정
      height: 200px; // 모바일에서는 높이를 줄일 수 있음
    }
  }

  @media (min-width: 1920px) {
    .map {
      width: 1400px; // 1920px 이상에서는 1400px로 고정
      // margin: 0 auto;
    }

  }
}
