.wrap {
  max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4E8D3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-top: 50px;
    margin-bottom: 100px;
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  color: #14332C;
}

.orderDetail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #14332C;
  border-bottom: 2px solid #14332C;
  padding-bottom: 10px;
}

.section p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}




.totalPrice {
  text-align: center;
  background-color: #14332C;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
}

.totalPrice h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.totalPrice p {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cancelButton {
  background-color: #14332C;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #0f2b23;
}

.order_status span.cancelledText {
  color: red;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}




//20240820

.wrap > h3{
  text-align: center;
  font-size: 24px;
}
.wrap h4{
  font-size: 20px;
  margin: 0 0 20px 0;
}
.pay_info p{
  width: 100;
  display: flex;
  justify-content: space-between;
}
.bundleItem ul, .bundleItem li{
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.wrap .order_detail_common_box{
  width: 80%;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  margin: 0 auto 25px;
}
.wrap .order_detail_common_box p{
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.order_status{
  width: 86%;
  margin: 70px auto 15px;
}
.order_status span{
  margin-left: 20px;
  color: blue;
}
.order_status h4{
  text-align: right;
}
.order_delivery p span{ outline: 1px solid red;
  width: 80px;
}

@media (max-width: 400px) {
  .order_status{
    width: 100%;
  }
  .order_status h4{
    text-align: center;
  }
  .wrap h4{
    font-size: 17px;
  }
  .wrap .order_detail_common_box{
    width: 90%;
    padding: 20px 10px;
  }
  .wrap .order_detail_common_box p{
    font-size: 14px;
  }
  .bundleItem ul, .bundleItem li{
    font-size: 14px;
  }
}

   
//주문 상세에 주문 취소하면 나타나는 모달창 css
.modalOverlay {
  position: fixed; // 20240821: 화면 고정
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); // 20240821: 반투명한 검은색 배경
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // 20240821: 최상위 z-index
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001; // 20240821: 오버레이보다 앞에 위치
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirmButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #0056b3;
}

.closeButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #5a6268;
}

.order_bottom_box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_bottom_box > button{
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order_cancel_btn{
  margin-right: 50px;
  background-color: #999;
}
.order_cancel_btn:hover{
  background-color: #777;
}
.order_list_btn{
  background-color: #B3797A;
}
.order_list_btn:hover{
  background-color: #9F5A5B;
}