.signUpInput {
  text-align: center;
  margin: 20px 0;
  width: 90%;
  background: #F0E1C4;
  padding-bottom: 20px;
  border-radius: 32px;
  padding: 20px;
}

.pwInput, .pwCheckInput {
  width: 60%;
  padding: 10px;
  border: 1px solid #B7AE9E;
  border-radius: 32px;
  box-sizing: border-box;
  margin-bottom: 5px;
  outline: none;
}

.errorMessage {
  color: #ff0000; // 경고 메시지를 빨간색으로 표시
  font-size: 0.8em;
  text-align: center;
  margin-top: 15px;
}

.successMessage {
  color: green; // 성공 메시지를 초록색으로 표시
  font-size: 0.8em;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 400px) {
  .pwInput, .pwCheckInput {
    width: 85%;
  }
}