.signUpPage {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 110px;
}

.formStep {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 1s;
}

.formStepActive {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}


/*
  SignUpPage.js css
*/
.signUpBox {
  width: 55%;
  margin: -60px auto 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F4E8D3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1, h2 {
    text-align: center;
  }
}


/*
  (Step 1) - 회원가입 이메일 검증, 인증코드 검증 css
  (Step 2) - 닉네임 검증, 비밀번호 검증 css
  (Step 3) - 주소 등록, 휴대폰 번호 등록 css
*/
.signUpInput {
  text-align: center;
  margin: 20px 0;
  width: 90%;
  background: #F0E1C4;
  padding-bottom: 20px;
  border-radius: 32px;
  padding: 20px;
}



/*
  검증 성공, 검증 에러 메시지 css
*/
.errorMessage {
  color: #ff0000; // 경고 메시지를 빨간색으로 표시
  font-size: 0.8em;
  text-align: center;
  margin-top: 15px;
}

.successMessage {
  color: green; // 성공 메시지를 초록색으로 표시
  font-size: 0.8em;
  text-align: center;
  margin-top: 15px;
}

/*
  회원가입 개인정보를 입력하는 input 박스
*/
.input {
  width: 60%;
  padding: 10px;
  border: 1px solid #B7AE9E;
  border-radius: 32px;
  box-sizing: border-box;
  margin-bottom: 5px;
  outline: none;
}


/*
  button css
*/
.btnBox {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #B37A7A;
  color: #FFFFF0;
  border: none;
  width: 45%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed;

  &:hover {
    background-color: #9A5A5A;
  }
}

.active {
  background-color: #B37A7A;
  color: #FFFFF0;
  border: none;
  width: 45%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #9A5A5A;
  }
}

.plusBtn {
  background-color: #B37A7A;
  color: #FFFFF0;
  border: none;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed;

  &:hover {
    background-color: #9A5A5A;
  }
}

.plusActive {
  background-color: #B37A7A;
  color: #FFFFF0;
  border: none;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #9A5A5A;
  }
}

@media screen and (max-width: 400px) {
  .input {
    width: 85%;
  }

  .successMessage, .errorMessage {
    font-size: 12px;
  }
}