
.wrap {
  width: 50%;
  margin: 50px auto;
  border-radius: 32px;
  background: #F4E8D3;
  padding-bottom: 30px;

  .subWrap {
    width: 90%;
    margin: 50px auto 0;
    background: #F4E8D3;
    padding-bottom: 20px
  }
}

.addReviewPage {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  color: #333;
  background-color: #f4e8d3;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    max-width: 700px;
  }

  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #555;
  }

  form {
    display: flex;
    flex-direction: column;
    
    textarea {
      margin-top: 30px;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin-bottom: 20px;
      resize: vertical;
      min-height: 150px;

      &:focus {
        outline: none;
      }
    }

    label {
      font-size: 1rem;
      margin-bottom: 10px;
      color: #555;

      // 기존의 select 스타일 부분은 삭제해도 됩니다.
    }

    .rating-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
        margin-right: 10px;
        font-size: 1rem;
        color: #555;
      }

      .MuiRating-root {
        font-size: 2rem !important; /* 별 아이콘 크기 */
      }
    
      .MuiRating-iconFilled {
        color: #FF6B6B !important; /* 채워진 별 아이콘 색상 */
      }
    
      .MuiRating-iconHover {
        color: #FF8C8C !important; /* 마우스 오버 시 별 아이콘 색상 */
      }
    
      .MuiRating-iconEmpty {
        color: #ccc !important; /* 빈 별 아이콘 색상 */
      }
    }

    button[type="submit"] {
      padding: 10px 20px;
      background-color: #B37A7A;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;

      &:hover {
        background-color: #9A5A5A;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .error {
    margin-top: 10px;
    color: #ff6b6b;
    font-size: 0.9rem;
    text-align: center;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8FBC8F;
    color: #2F4F4F;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #218838;
    }
  }
}

@media (max-width: 400px) {
  .wrap {
    width: 87% !important;
  }
  .addReviewPage {
    width: 80% !important;
  }

}