.bannerContainer {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #F0E1C8;
  display: flex;
  align-items: center;
  position: relative;
}

.marqueeContent {
  display: flex;
  white-space: nowrap;
  animation: marquee 255s linear infinite; /* 애니메이션 지속 시간 조정 */
}

.marqueeText {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding-right: 0.5%; /* 텍스트 간 간격 조정 */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 400px) {
  .marqueeContent {
    animation: marquee 400s linear infinite; /* 애니메이션 지속 시간 조정 */
  }
}