.footerWrap {
  width: 100%;
  // margin-top: 100px;
  //bottom: 0;
  //position: relative;
  
  .greenWrap {
    width: 100%;
    background: #14332c;

    .pTitle {
      width: 40%;
      text-align: center;
      color: white;
      margin: 0 auto;
      padding: 21px 0 18px 0;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .orangeLine {
    width: 100%;
    background: #d88255;
    height: 22px;
  }

  .mainWrap {
    background: #F1E0C8;
    width: 100%;
    display: flex;

    .bottom {
      width: 33.3%;
      display: flex;
      flex-direction: column;

      .innerWrap {
        text-align: center;
        align-items: center;
        margin: 30px 0;

        p {
          margin: 10px;
          font-weight: 300;
          font-size: 0.85rem;
        }
        .cursor {
          cursor: pointer;
        }
        .cursor:hover {
          text-decoration: underline;
        }

        .img {
          margin-top: 30px;
          width: 100px;
          height: 100px;
        }
        .snsLogo {
          color:#245d50;
          width: 25%;
          margin: 30px auto 0 auto;
          display: flex;
          justify-content: space-evenly;
          .icon {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }

        .holliday {
          margin-top: 30px;
        }
      }
    }
  }

}


@media only screen and (max-width: 400px) {
  .footerWrap {
    .greenWrap {
      .pTitle {
        width: 100%;
        font-size: 0.75rem;
        padding: 15px 0 10px 0;
      }
    }

    .orangeLine {
      height: 15px;
    }

    .mainWrap {
      flex-direction: column;

      .bottom {
        width: 100%;

        .innerWrap {
          margin: 15px 0;

          p {
            font-size: 0.75rem;
            margin: 8px;
          }

          .img {
            width: 80px;
            height: 80px;
          }

          .snsLogo {
            width: 50%;
            .icon {
              width: 30px;
              height: 30px;
            }
          }

          .holliday {
            margin-top: 20px;
          }
        }
      }
    }
  }
}