
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; // 스피너를 화면에 고정
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // 전체 높이를 100%로 설정
  background: rgba(0, 0, 0, 0.5); // 반투명 배경
  z-index: 2222; // 다른 요소 위에 표시

  .loader{
    opacity: 1;
  }

}


