.wrap {
  width: 90%;
  margin: 0 auto 45px;
  background: #F1E1C4;
  padding-bottom: 20px;
  padding-top: 20px;

  .secondWrap {
    width: 90%;
    margin: 0 auto;

    .title {
      font-size: 23px;
      font-weight: 600;
      padding: 10px 0;
    }

    .subWrap {
      width: 100%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      //flex-wrap: wrap; /* 요소들이 다음 줄로 넘어갈 수 있게 함 */

      .suggest {
        width: 45%; /* 1920x1080 해상도에서는 한 줄에 두 개씩 배치 */
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 32px;
        background: #F4E9D3;
        cursor: pointer;
        transition: background-color 0.7s ease, color 0.7s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #555;
        text-decoration: none;
        margin-bottom: 0; /* 마진 제거 */
      }

      .suggest:hover {
        background: #E8D7C3;
        color: #333;
      }

      .hotelIcon {
        font-size: 24px;
        color: #99AD9D;
      }

      .snackIcon {
        font-size: 24px;
        color: #92B2D8;
      }

      .bookmarkIcon {
        font-size: 24px;
        color: #92B2D8;
      }

      .starIcon {
        font-size: 24px;
        color: #99AD9D;
      }

      .penIcon {
        font-size: 24px;
        color: #E3A193;
      }

      .heartIcon {
        font-size: 24px;
        color: #E3A193;
      }

      .suggest:hover .icon {
        color: #555;
      }
    }

    @media screen and (max-width: 400px) {
      .subWrap {
        display: flex;
        flex-direction: column; /* 요소들을 한 줄에 하나씩 배치 */
        align-items: center;

        .suggest {
          width: 80%; /* 한 줄에 하나씩 배치되도록 넓이를 100%로 설정 */
          margin-bottom: 15px; /* 요소들 사이에 간격 추가 */
        }

        .suggest:last-child {
          margin-bottom: 0; /* 마지막 요소의 마진을 제거하여 아래 여백 없애기 */
        }
      }
    }
  }
}