:root {
  --padding-top: 90px;
  --padding-left: 150px;
  --img-section-display: flex;
}

.shopMainBgContainer {
  .mainSection {
    height: 95vh;

    .processContainer1,
    .processContainer2,
    .processContainer {
      width: 50%;
      text-align: left;

      .processContent1,
      .processContent {
        padding-top: var(--padding-top);
        padding-left: var(--padding-left);
      }
    }

    .processContainer1 {
      background-color: #3a556f; /* 배경 색상 */
    }

    .processContainer2 {
      background-color: #e6e3db; /* 배경 색상 */
    }

    .processContainer {
      background-color: #e8e4d7; /* 배경 색상 */

      .content {
        margin-top: 40px;

        .guide {
          color: #827d76;
          width: 42%;
          margin-left: 35px;
        }
      }
    }

    .shopTitle1 {
      margin-top: 100px;
      line-height: 1.4;
      font-size: 50px;
      color: #fffff0;
    }

    .shopTitle2 {
      font-size: 35px;
      margin-bottom: 50px;
      color: #fffff0;
    }

    .shopTitle3 {
      font-size: 20px;
      margin-bottom: 50px;
      color: #fffff0;
    }

    .shop2Title1 {
      margin-top: 60px;
      line-height: 1.4;
      font-size: 50px;
      color: #403c36;
    }

    .shop2Title2 {
      font-size: 35px;
      margin-bottom: 50px;
      color: #403c36;
    }

    .shop2Title3 {
      font-size: 20px;
      margin-bottom: 50px;
      color: #403c36;
    }

    .imgSection,
    .imgSection2,
    .imgSection3 {
      position: relative;
      float: left;
      background-size: cover;
      background-position: center;
      height: 710px;
      width: 50%;
      display: var(--img-section-display);
      flex-direction: column;
    }

    .imgSection {
      background-image: url("../../../public/shop_img/shop_main2\ 910\ x\ 710\ px.png");
    }

    .imgSection2 {
      float: right;
      background-image: url("../../../public/shop_img/shop_main\ 910\ x\ 710\ px.png");
    }

    .imgSection3Box {
      display: flex;
    }

    .imgSection3 {
      background-image: url("../../../public/shop_img/3840x0.png");
    }

    .manageShopBtn {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .sliderContainer {
      overflow: hidden;
      position: relative;
      height: 170px;
      background: #5e584f;

      .slider {
        display: flex;
        animation: scroll 15s linear infinite;
        height: 100%;
        width: calc(250px * 5 * 2); /* 슬라이드 총 너비 조정 */
      }

      .slideImgBox {
        flex: 0 0 auto;
        width: 260px;
        display: flex;
        justify-content: center;
        margin: auto 0;

        .slide {
          background-color: #5e584f;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
          height: 100%;
          width: 55px;
          height: 54px;
          margin-right: 20px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          &.slide1 {
            background-image: url("../../assets/shop/다운로드.png");
          }

          &.slide2 {
            background-image: url("../../assets/shop/다운로드\ (1).png");
          }

          &.slide3 {
            background-image: url("../../assets/shop/다운로드\ (2).png");
          }

          &.slide4 {
            background-image: url("../../assets/shop/다운로드\ (3).png");
          }

          &.slide5 {
            background-image: url("../../assets/shop/다운로드\ (4).png");
          }
        }

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }
      }
    }

    .slideText {
      color: white;
      padding-top: 10px;
      margin-right: 10px;
      font-size: 15px;
    }

    .selectDogBox,
    .startBtnBox {
      display: flex;
      width: 100%;
    }

    .dogList {
      background-color: #e8e4d7;  // 배경색
      color: #403c36;  // 텍스트 색상
      font-size: 18px;  // 글꼴 크기
      width: 42%;  // 너비
      margin-left: 35px;  // 왼쪽 마진
      padding: 8px;  // 내부 여백
      border: 1px solid #403c36;  // 경계선
      border-radius: 5px;  // 모서리 둥글게
      appearance: none;  // 기본 드롭다운 화살표 숨기기 (커스텀 가능)
      cursor: pointer;  // 포인터 모양
    
      &:hover {
        background-color: #d7cfbf;  // 호버 시 배경색
      }
    
      &:focus {
        outline: none;  // 포커스 시 외곽선 제거
        border-color: #665f54;  // 포커스 시 경계선 색상
        box-shadow: 0 0 5px rgba(102, 95, 84, 0.5);  // 포커스 시 그림자 효과
      }
    }
    
    .dogList {
      background-color: #e8e4d7;  // 배경색
      color: #403c36;  // 텍스트 색상
      font-size: 16px;  // 글꼴 크기
      width: 42%;  // 너비
      margin-left: 35px;  // 왼쪽 마진
      padding: 10px;  // 내부 여백
      border: 1px solid #403c36;  // 경계선
      border-radius: 5px;  // 모서리 둥글게
      appearance: none;  // 기본 드롭다운 화살표 숨기기
      cursor: pointer;  // 포인터 모양
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23403c36'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); // 화살표 아이콘 추가
      background-repeat: no-repeat;  // 아이콘 반복 안함
      background-position: right 10px center;  // 아이콘 위치 조정
      background-size: 22px;  // 아이콘 크기
    
      &:hover {
        background-color: #d7cfbf;  // 호버 시 배경색
      }
    
      &:focus {
        outline: none;  // 포커스 시 외곽선 제거
        border-color: #665f54;  // 포커스 시 경계선 색상
        box-shadow: 0 0 5px rgba(102, 95, 84, 0.5);  // 포커스 시 그림자 효과
      }
    }
    
    .startButton {
      width: 42%;
      background-color: #f39c12;
      padding: 18px;
      margin-top: 20px;
      margin-left: 35px;
      color: #fffff0;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      transition: transform 0.4s ease-in-out;
    }

    .startButton:hover {
      transform: translateY(-3px);
    }

    .processTitle {
      color: #403c36;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .processStep {
      display: flex;
      margin-bottom: 20px;

      .stepNumber {
        font-size: 24px;
        font-weight: bold;
        padding-top: 5px;
        margin-right: 10px;
      }

      .stepContent {
        flex: 1;

        .processName {
          margin-top: 10px;
          font-size: 22px;
        }

        .processP {
          font-size: 18px;
        }

        .stepIcon1,
        .stepIcon2,
        .stepIcon3 {
          display: inline-block;
          margin-left: 10px;
          width: 40px;
          height: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .stepIcon1 {
          background-image: url("../../../public/shop_img/dog.png");
        }

        .stepIcon2 {
          background-image: url("../../../public/shop_img/big-idea.png");
        }

        .stepIcon3 {
          background-image: url("../../../public/shop_img/gift.png");
        }

        h5 {
          font-size: 17px;
          margin: 0;
          margin-bottom: 5px;
          color: #403c36;
        }

        p {
          margin: 0;
          margin-top: 10px;
          color: #403c36;
        }
      }
    }

    .featuresContainer {
      display: flex;
      justify-content: center;
      gap: 170px;
      background-color: #5e5850;
      margin: 0 auto;
      padding: 50px 0;
      color: rgb(255, 255, 255);
    }

    .featureItem {
      text-align: center;
      max-width: 420px;

      .featureTitle {
        font-size: 24px;
        color: white;
        margin-top: 10px;
      }

      .featureContent {
        color: white;
        font-size: 18px;
      }
    }

    .subsIcon,
    .qualityIcon {
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto;
      height: 70px;
      width: 70px;
    }

    .subsIcon {
      background-image: url("../../../public/shop_img/subscribe1.png");
    }

    .qualityIcon {
      background-image: url("../../../public/shop_img/shake-hand.png");
    }
  }
}

// 반응형 설정
@media (max-width: 400px) {
  :root {
    --img-section-display: none; /* 섹션 숨기기 */
    --padding-left: 30px;
    --padding-right: 30px;
    --padding-top: 20px;
  }

  .mainSection {
    height: auto; /* 모바일에서 높이를 자동으로 조정 */

    .processContainer1,
    .processContainer2 {
      width: 100% !important;
      .shopTitle1 {
        margin-top: 60px;
      }
      .content {
        display: none;
      }
    }

    .processContent,
    .processContent1{
      padding-right: 30px;
    }

    .imgSection,
    .imgSection2 {
      height: 50% !important;
      max-height: 400px;
      background-size: contain;
    }

    .imgSection3Box {
      flex-direction: column; /* 세로 방향으로 배치 */
    }

    .sliderContainer {
      height: 120px; /* 모바일에서 슬라이드 높이 조정 */
    }

    .slider {
      width: calc(200px * 5 * 2); /* 슬라이드 총 너비 조정 */
    }

    .slideImgBox {
      width: 200px;

      .slide {
        width: 45px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .slideText {
      padding-top: 5px;
      margin-right: 5px;
    }

    .processContainer {
      width: 100% !important; /* 프로세스 컨테이너 너비 조정 */

      .processName {
        margin-top: 0px !important;
      }

      .content {
        margin-top: 20px; /* 모바일에서 여백 조정 */

        .guide {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }

        .selectDogBox {
          .dogList {
            width: 100%;
            margin: 0 auto !important;
          }
        }

        .startBtnBox {
          .startButton {
            width: 100%;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: 20px;
          }
        }
      }
    }

    .processContent {
      padding-left: var(--padding-left);
      padding-right: var(--padding-right);
      padding-top: var(--padding-top);
    }

    .processTitle {
      font-size: 28px;
      margin-bottom: 20px !important;
    }

    .processStep {
      flex-direction: column;

      .stepNumber {
        margin-bottom: 10px;
      }

      .stepContent {
        h5 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .featuresContainer {
      flex-direction: column;
      gap: 25px;
      padding: 20px 0;
    }

    .featureItem {
      max-width: 90%;
      margin: 0px auto;
    }

    .subsIcon,
    .qualityIcon {
      height: 50px;
      width: 50px;
    }
  }
}
