.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modalContent {
  position: fixed; /* 고정 위치 */
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  min-width: 70%;
  max-width: 70%;
  max-height: 800px; /* 화면 높이에 따라 조정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, 0); /* 좌우 중앙 정렬, 세로 위치는 JavaScript에서 설정 */
}

.closeButton {
  font-size: 32px;
  color: rgb(175, 48, 48);
  position: absolute;
  top: 5%;
  right: 3%;
  background: none;
  border: none;
  cursor: pointer;
}
