// 부트스트랩 SCSS 가져오기
@import "~bootstrap/scss/functions"; // 함수 가져오기
@import "~bootstrap/scss/variables"; // 변수 가져오기
@import "~bootstrap/scss/mixins"; // 믹스인 가져오기
@import "~bootstrap/scss/card"; // 카드 스타일 추가

:root {
  --btn-width: 40%; // 큰 화면에서 버튼 너비
  --btn-fz: 16px;
  --img-width: 300px;
}

.loadingOverlay {
  position: fixed; // 고정 위치로 변경
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // 전체 높이를 화면에 맞게 설정
  background-color: rgba(0, 0, 0, 0.5); // 반투명 배경
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; // 모든 요소 위에 표시되도록 높은 z-index 설정
}

// 스피너 컨테이너는 그대로 유지
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loader {
    opacity: 1;
  }
}

.treatsList {
  background-size: cover; // 배경 이미지 사이즈 조정
  background-position: center; // 배경 이미지 중심 정렬
  color: white; // 기본 글자색 흰색
  margin-top: 5%;
  margin-bottom: 5%;

  // 부트스트랩 카드 추가
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 0 auto;

    .card {
      width: calc(
        (100% - 30px) / 3
      ); // 전체 너비에서 30px(10px 간격 * 2)를 빼고 3으로 나누기
      margin-bottom: 20px; // 하단 여백
      box-sizing: border-box; // 박스 사이즈 조정

      // 카드 스타일
      @extend .card;
      background: white;
      border-radius: 10px; // 모서리 둥글게

      .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      .cardTitle {
        font-size: 15px;
        flex-grow: 1;
        padding: 0 20px;
        color: #403c36;
        cursor: pointer; // 클릭 모양으로 변경
      }
    }

    .cardImageTop {
      border-top-left-radius: 10px; // 모서리 둥글게
      border-top-right-radius: 10px; // 모서리 둥글게
      width: 100%; // 카드 너비에 맞게 조정
      height: var(--img-width); // 고정 높이 설정
      min-height: var(--img-width); // 최소 높이 설정
      object-fit: cover; // 이미지 비율 유지하면서 늘리기
      cursor: pointer; // 클릭 모양으로 변경
    }

    .addBtnContainer {
      display: flex;
      margin-top: auto;
      margin-bottom: 10px;
      justify-content: center;

      .addBtn {
        background-color: #e88b4f; // 버튼 배경색
        width: var(--btn-width); // 버튼 너비 변수 사용
        color: white; // 글자색
        border: none; // 테두리 없음
        border-radius: 25px; // 모서리 둥글게
        padding: 12px 20px; // 패딩

        cursor: pointer; // 커서 포인터로 변경
        font-size: var(--btn-fz);
        transition: background-color 0.3s, transform 0.2s; // 애니메이션 효과

        &:hover {
          transform: scale(1.05); // 호버 시 약간 확대
        }

        &:active {
          transform: scale(0.95); // 클릭 시 약간 축소
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column; // 세로 방향 정렬
    background-color: #f4e8d3; // 흰색 배경
    padding: 40px; // 패딩
    border-radius: 25px; // 모서리 둥글게
    width: 60%;
    margin: 0 auto; // 가운데 정렬
    box-sizing: border-box; // 박스 사이즈 조정
    color: #403c36; // 글자색 검정
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 그림자 효과

    h1 {
      font-size: 35px;
      text-align: center; // 제목 중앙 정렬
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .subTitle {
      text-align: center; // 제목 중앙 정렬
      font-size: 14px;
      margin: 0px 0 30px; // 상단 및 하단 여백
    }
  }

  .treat {
    border: 1px solid #ccc; // 테두리
    padding: 20px; // 패딩
    margin-bottom: 20px; // 하단 여백
    border-radius: 5px; // 모서리 둥글게
    background-color: rgba(255, 255, 255, 0.8); // 반투명 흰색 배경
  }

  .loading,
  .error {
    text-align: center; // 중앙 정렬
    margin-top: 20px; // 상단 여백

    &.error {
      color: red; // 에러 글자색 빨간색
    }
  }

  .treatList {
    display: block; // 요소를 블록 형태로
    margin: 0 auto 20px; // 자동 여백
  }

  .buttonContainer {
    text-align: center; // 버튼 중앙 정렬
    margin-top: 0px; // 버튼과 리스트 간의 간격 추가
  }
}

.selectedTreats {
  position: sticky; // 변경된 부분
  bottom: 20px; // 화면 아래로부터의 거리
  left: 50%; // 수평 중앙 정렬
  transform: translateX(-50%); // 중앙 정렬을 위한 변환
  width: 80%; // 너비 조정
  max-width: 30vw; // 최대 너비 설정
  opacity: 0.9;
  margin: 0 auto; // 중앙 정렬
  padding: 0px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  z-index: 2000; // 다른 요소 위에 보이게 설정

  .imageBoxContainer {
    display: flex; // flexbox 사용
    flex-wrap: wrap; // 줄 바꿈 허용
    justify-content: center; // 중앙 정렬
  }

  .imageBox {
    position: relative;
    width: 90px; // 이미지 박스의 너비
    height: 90px; // 이미지 박스의 높이
    margin: 10px; // 이미지 박스 간격
    border: 1px solid #ccc; // 테두리 추가
    border-radius: 5px; // 둥글게
    overflow: hidden; // 넘치는 이미지 부분 숨김

    .removeBtn {
      position: absolute;
      top: 2px;
      right: 0px;
      background: none;
      border: none;
      color: #e0676c;
      font-size: 25px;
      cursor: pointer;
      display: none; // 기본적으로 숨김

      &:hover {
        color: rgb(216, 18, 18);
      }
    }

    &:hover {
      .removeBtn {
        display: block; // 마우스 오버 시 표시
      }
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-60px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-60px); // 위로 슬라이드 아웃
      opacity: 0;
    }
  }

  .treatWrapper {
    animation: slideIn 0.8s ease forwards; // 애니메이션 적용
  }

  .slideOut {
    animation: slideOut 1s ease forwards; // 삭제 시 애니메이션
  }

  .treatImage {
    width: 100%; // 이미지 너비를 박스에 맞춤
    opacity: 0.8;
    height: auto; // 비율 유지
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media (max-width: 400px) {
  :root {
    --btn-width: 90%; // 작은 화면에서 버튼 너비
    --btn-fz: 12px;
  }

  .treatsList {
    display: flex; // Flexbox 적용
    flex-direction: column; // 세로 방향으로 정렬
    align-items: center; // 수평 중앙 정렬
    margin: 0 auto;

    .card {
      width: calc((100%)); // 2개의 카드로 변경
    }

    .content {
      h1 {
        font-size: 24px;
      }
      width: 90%; // 콘텐츠 너비 조정
    }
  }

  .addBtn {
    width: var(--btn-width); // 버튼 너비 변수 사용
    font-size: var(--btn-fz);
  }

  .selectedTreats {
    max-width: 95vw; // 최대 너비 조정
    display: flex; // Flexbox로 설정
    flex-direction: row; // 가로 방향으로 배치
    justify-content: center; // 수평 중앙 정렬
    align-items: center; // 세로 중앙 정렬
    margin-left: 200px;

    .imageBox {
      width: 40px; // 이미지 박스 너비 조정
      height: 40px; // 이미지 박스 높이 조정
    }
  }
}

