.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // 화면 전체를 덮음
  background-color: rgba(0, 0, 0, 0.5); // 반투명한 오버레이 배경
  z-index: 2222; // 스피너가 위에 표시되도록 설정
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerWrapper {
  position: absolute;
  top: 500px; // 페이지 상단에서 500px 아래에 위치
  left: 50%;
  transform: translateX(-50%); // 중앙 정렬
}

.homeContainer {
  width: 100%;
  height: 90vh;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "NotoSansKR";
  justify-content: center;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex !important; /* Ensure flex display for slide */
}

.slideContent {
  display: flex;
  width: 100%;
  height: 100%;
}

.textBox {
  width: 50%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  background-color: #4b4b4b; // 배경색 추가

  h1 {
    margin: 0px auto;
    font-size: 2.5em;
    margin-bottom: 80px;
    font-family: "Poppins";
    color: white; /* 텍스트 색상 */
  }

  p {
    margin: 0px auto;
    font-size: 1.2em;
    margin-bottom: 40px;
    font-family: "Poppins";
    color: white; /* 텍스트 색상 */
  }

  .getStartedBtn {
    background-color: #ffa500;
    text-decoration: none;
    font-size: 20px;
    color: rgb(66, 45, 45);
    width: 30%;
    margin: 0px auto;
    text-align: center;
    padding: 10px 20px;
    font-family: "Poppins";
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
}

.videoBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    height: 100%;
    pointer-events: none; /* 클릭 및 재생 멈춤 방지 */
    object-fit: cover; /* 비디오가 컨테이너를 가득 채우도록 */
  }
}

.adContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .adBox {
    height: 600px;

    .ad {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 400px) {
  .videoBox {
    display: none;
  }
  .textBox {
    width: 100% !important;
    text-align: center;

    h1 {
      font-size: 25px;
    }
  }

  .adBox {
    height: 400px !important;
    margin: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ad {
      border-radius: 16px;
      width: 380px;
      height: 380px;
      background-size: cover;
    }
  }
}
