.wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

.reviewWrap {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: #F4E9D3;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .reviewHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;

    span {
      color: #333;
    }
  }

  .hotelName {
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
  }

  .reviewContent {
    margin-bottom: 10px;
    p {
      color: #333;
    }
  }

  .reviewFooter {
    font-size: 0.9rem;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .star{
      color: #ffd000;
    }

    .actions {
      display: flex;
      gap: 5px;

      .actionLink {
        padding: 4px 8px;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #B3797A;
          color: #fff;
        }
      }
    }
  }
}

.modal {
  /* 화면 가운데 정렬을 위한 추가 스타일 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4E9D3;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalHeader {
  font-size: 1.8rem;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.modalBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: vertical;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #4CAF50;
      outline: none;
    }
  }

  .label {
    font-size: 1rem;
    margin-left: 50%;
    color: #333;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

    .star {
      display: inline-block;
      margin-top: 5px;
    }

    .select {
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #4CAF50;
        outline: none;
      }
    }
  }

  .modalActions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;

    .primaryButton {
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background-color: #8FBC8F;
      color: #2F4F4F;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #45A049;
        transform: translateY(-2px);
      }
    }

    .secondaryButton {
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background-color: #B3797A;
      color: #fff;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #8f3030;
        transform: translateY(-2px);
      }
    }
  }

  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: center;
  }
}

.noReview {
  padding: 40px;
  text-align: center;

}